<h1><%= @personal_goal.name.titleize %></h1>

<p class="user"><em> <%= @personal_goal.user.name %>'s Goal</em></p>


<div class="info">
    Recorded on: <%= @personal_goal.created_at.strftime("%a, %b %d")%> 
    Target: <%= @personal_goal.target %><%= @personal_goal.measured_by.pluralize %>
    <br>
    Progress: <%= @personal_goal.progress %>  That is 
    <%= @personal_goal.progress_in_percent %> %
</div>

<p><%= link_to "Back to personal_goals", personal_goals_path %></p>

<% unless @personal_goal.personal_goal_trackers.empty? %>
  <h2><%= @personal_goal.personal_goal_trackers.size %> records tracked </h2>

  <div id="personal_goal_trackers">
  <% for @personal_goal_tracker in @personal_goal.personal_goal_trackers %>
    <div class="personal_goal_tracker">
      <strong><%= @personal_goal_tracker.record_amount %> </strong>
      <em>on <%= @personal_goal_tracker.created_at.strftime("%a, %b %d")%></em>
      
    </div>
  <% end %>
  </div>
<% end %>